{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href='{% static "css/signup.css"%}'/>
{% endblock head %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-7">
          <form>
            <h4 class="h4 mb-3 fw-normal">
              Customer login<i class="fa fa-user-plus" aria-hidden="true"></i>
            </h4>
            <hr />
            <div class="form-box">
              <div class="mb-3">
                <label for="floatingInput" class="text-label">Firstname:</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="floatingInput">Lastname:</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
            </div>
            <div class="form-box">
              <div class="mb-3">
                <label for="floatingInput" class="text-label"
                  >Date of birth:</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="floatingInput">Phone No:</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
            </div>
            <div class="form-box">
              <div class="mb-3">
                <label for="floatingInput" class="text-label">Email:</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="floatingInput">Username:</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
            </div>
            <div class="form-box">
              <div class="mb-3">
                <label for="floatingInput" class="text-label">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3">
                <label for="floatingInput">Comfirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
            </div>

            <div class="sign-up">
              <div class="form-check">
                <label class="form-check-label" for="flexCheckIndeterminate">
                  Staff
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckIndeterminate"
                />
              </div>
              <div class="form-check">
                <label class="form-check-label" for="flexCheckIndeterminate">
                  Student
                </label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckIndeterminate"
                />
              </div>
              <div class="form-check">
                <label class="form-check-label" for="flexCheckIndeterminate">
                  Others
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckIndeterminate"
                  />
                </label>
              </div>
            </div>
            <div class="sign-up">
              <div class="col-md-4">
                <label for="inputZip" class="form-label"
                  >Satff | Student | Others ID</label
                >
                <input type="text" class="form-control" id="inputZip" />
              </div>
              <div class="d-grid gap-2 col-2 mx-auto">
                <button type="submit" class="btn btn-success">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="dashboard.html"
                    >Sign Up</a
                  >
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock content %}

